body {
	/*background-color: #e6ceff;*/
	
}

.banner-background {
	clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 100%, 73% 86%, 31% 100%, 0 94%, 0 0
		);
}

.primary-background-nav {
	background: #9575cd !important;
}

.primary-background-body {
	background-color: #c7a4ff;
}

.articleColor {
	background-color: #f3e5f5;
}

.btn-color {
	background-color: #9575cd;
	border-color: #ffcc80;
	color: #ffcc80;
}

.btn-color:hover {
	background: #ffcc80;
	color: black;
}